@import 'reset.scss';
@import 'layer.scss';

.ac-rul{
  padding:2rem;
  .about-lottery{
    margin-bottom: 3rem;
    .ts{
      font-size: 16px;
      color:#BD4448 ;
      display: block;
      margin-bottom: .3rem;
    }
    .t-list{
      font-size: 14px;
      b{
        color: #BD4448;
      }
    }
  }
  .btn{
    display:block;
    height: 44px;
    line-height: 44px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    background-image:-webkit-linear-gradient(90deg, #F9854C, #EE5F3F);
    background-image:linear-gradient(90deg,#F9854C, #EE5F3F);
    font-size: 18px;
    color: #fff;
    margin: 10px auto 0;
    text-align: center;
  }
  .lr{
    width: 100%;
  }
  .b-button{
    margin-top: 5rem;
  }
}
.price-empty{
  margin-top: 8rem;
  text-align: center;
  display: none;
  img{
    width: 137px;
  }
  p{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
}
.price-yes{
  padding: 20px;
  display: none;
  .rule{
    float: right;
    font-size: 14px;
    color:#333;
    padding-bottom: 10px;
    text-decoration: underline;
    a{
      color: #333;
    }
    img{
      width: 16px;
      vertical-align: middle;
      margin-right: 5px;
    }

  }
  .price-list{
    display: block;
    li{
      display: block;
      margin-bottom: 10px;
    }
  }
}
